@import '~normalize.css';
@import './style.scss';

/* 改变主题色变量 */
$--color-primary: #67c69c;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";


